<% layout('layouts/boilerplate') %>

<% 
    const ufc = {
        'Power Punch': "https://www.youtube.com/embed/yD7jxGzNRKs",
        'Striker Strength': 'https://www.youtube.com/embed/1L3BLnrUqF0',
        'Cardio Crosstrain': 'https://www.youtube.com/embed/xdQO_A638XA',
        'Plyoshred': '',
        'Ultimate Stretch Flex': '',
        'Fat Fighter': ''
    }
    const bodyweight = {};
    const cardio = {};
    const yoga = {};
    const stretching = {};
    const warmup = {};
    let data;
    
    switch(id.toLowerCase()) {
        case 'ufc':
            data = ufc;
            break;
        case 'bodyweight':
            data = bodyweight;
            break;
        case 'cardio':
            data = cardio;
            break;
        case 'warmup':
            data = warmup;
            break;
        case 'stretching':
            data = stretching;
            break;
        case 'yoga':
            data = yoga;
            break;
        default:
            data = ufc;
            break;
    }

%> 


    <main id="main">
        <section id="workout" class="workout">
            <div class="container">
      
              <div class="row gy-4">
    
                <% for(let i in data) { %>
                    <div class="col-lg-6 col-md-12">
                        <div class="content">
                          <div class="video">
                            <iframe src=<%= ufc[i] %> title=YouTube video player  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                          </div>
                          <h2> <%= i %> </h2>
                        </div>
                      </div>
                <% } %>  
      
              </div>
      
            </div>
          </section>
    </main>
